@import "../../config.scss";
.DarkThemeToggle {
    position: absolute;
    margin: 0.8rem;
    padding: 0.8rem;
    right: 5rem;
    top: 1rem;
    cursor: pointer;
    border-radius: $radius;
    @include transition;
}

@media only screen and (max-width: 580px) {
    .DarkThemeToggle {
        right: 1rem;
    }
}