@import "../../config.scss";
.table {
    margin: 7rem;
    padding: 1rem;
    background-color: $primary;
    border-radius: 0.5rem;
    thead {
        th {
            @include transition;
            border-width: 0rem;
            border-bottom: 0.2rem;
            border-style: groove;
            border-color: $secondary;
            &:hover {
                color: darken($secondary, 20);
            }
        }
    }
    tbody {
        tr {
            @include transition;
            &:hover {
                background-color: darken($color: $primary, $amount: 10);
            }
        }
        td {
            margin: 1rem;
            padding: 1rem;
        }
    }
}