@import "../../config.scss";
.Table {
    margin: 7rem;
    background-color: $primary;
    border-radius: $radius;
    overflow-y: scroll;
    height: 70vh;
    width: fit-content;
    @include shadow;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    table {
        margin: 1rem;
        padding: 1rem;
        padding-top: 0;
    }
    thead {
        position: sticky;
        top: 0;
        background-color: $primary;
        width: 100%;
        height: 100%;
        tr {
            padding: 1rem;
        }
        th {
            padding: 0.8rem;
            @include transition;
            border-width: 0rem;
            border-bottom: 0.2rem;
            border-style: groove;
            border-color: $secondary;
            &:hover {
                color: darken($secondary, 20);
            }
        }
    }
    tbody {
        tr {
            cursor: pointer;
            @include transition;
            border-radius: $radius;
            &:hover {
                color: darken($secondary, 20);
                @include shadow;
            }
        }
        td {
            margin: 1rem;
            padding: 1rem;
        }
    }
}