@import "../../config.scss";
.Box {
    height: fit-content;
    width: 40%;
    padding: 1rem;
    margin-left: 5rem;
    background-color: $primary;
    border-radius: $radius;
    @include shadow;
    display: flex;
    flex-direction: column;
    color: $onPrimary;
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Pokemon";
        font-size: 3rem;
        margin: 1rem;
        padding: 1rem;
        padding-bottom: 0;
        margin-bottom: 0;
        img {
            border-radius: 50%;
            margin: 0.5rem;
            padding: 0.5rem;
            @include transition;
            &:hover {
                @include shadow;
            }
        }
    }
    &__body {
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0.5rem;
            margin: 1rem;
            margin-top: 0;
            padding-top: 0;
            li {
                padding: 0.5rem;
                margin: 0.5rem;
                span {
                    font-weight: bold;
                }
            }
        }
    }
}