@import "../../config.scss";
.Box {
    padding: 1rem;
    margin: 1rem;
    background-color: $primary;
    border-radius: $radius;
    @include shadow;
    display: flex;
    flex-direction: column;
    &__header {
        font-family: "Pokemon";
        font-size: 3rem;
        margin: 1rem;
        padding: 1rem;
        @include transition;
        &:hover {
            color: $secondary;
        }
    }
    &__body {
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0.5rem;
            margin: 1rem;
            li {
                padding: 0.5rem;
                margin: 0.5rem;
                span {
                    font-weight: bold;
                }
            }
        }
    }
}