@import "../../config.scss";
.Box {
    height: fit-content;
    max-width: 400px;
    padding: 1rem;
    margin-left: 5rem;
    border-radius: $radius;
    @include shadow;
    @include transition;
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Pokemon";
        letter-spacing: 0.1em;
        font-size: 3rem;
        margin: 1rem;
        padding: 1rem;
        padding-bottom: 0;
        margin-bottom: 0;
        img {
            border-radius: 50%;
            margin: 0.5rem;
            padding: 0.5rem;
            margin-top: 0;
            padding-top: 0;
            @include transition;
            &:hover {
                @include shadow;
            }
        }
    }
    &__close {
        align-self: flex-end;
        padding: 1rem;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        border-radius: 50%;
        @include transition;
        &:hover {
            background-color: black;
            color: red;
            @include shadow;
        }
    }
    &__body {
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0.5rem;
            margin: 1rem;
            margin-top: 0;
            padding-top: 0;
            li {
                padding: 0.5rem;
                margin: 0.5rem;
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .Box {
        position: absolute;
        margin: 1rem;
        justify-self: center;
        &__header {
            font-size: 2rem;
        }
        &__body {
            ul {
                margin: auto;
                li {
                    padding: auto;
                    margin: auto;
                }
            }
        }
    }
}