@import "./config.scss";
.App {
    min-height: 100vh;
    @include transition;
    &__main {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include transition;
        h1 {
            font-family: "Pokemon";
            text-align: center;
            font-size: 5rem;
            margin-bottom: 0;
            font-size: 72px;
            letter-spacing: 0.1em;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .App {
        &__main {
            display: flex;
            justify-content: center;
            &__box {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .App {
        &__header {
            h1 {
                font-size: 3rem;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .App {
        &__header {
            h1 {
                font-size: 2rem;
            }
        }
    }
}