$primary: #FE5D26;
$onPrimary: #FAEDCA;
$secondary: #7EBC89;
$onSecondary: #f8e9e9;
$bg: #F2C078;
$onBg: #FE5D26;
// 
$primaryDark: #FA8334;
$onPrimaryDark: #271033;
$secondaryDark: #388697;
$onSecondaryDark: #FFE882;
$bgDark: #271033;
$onBgDark: #FFFD77;