@import "./colors.scss";
$large: 1300px;
$big: 992px;
$medium: 768px;
$small: 576px;
$radius: 0.5rem;
@mixin shadow {
    box-shadow: 0 1px 5px #000;
}

@mixin transition {
    transition: all 0.4s ease-out;
}

@font-face {
    font-family: "Pokemon";
    src: url("./fonts/Pokemon\ Solid.ttf");
}

.primary {
    background-color: $primary;
    color: $onPrimary;
}

.secondary {
    background-color: $secondary;
    color: $onSecondary;
}

.bg {
    background: $bg;
    color: $onBg;
    z-index: 1;
}

.primary-dark {
    background-color: $primaryDark;
    color: $onPrimaryDark;
}

.secondary-dark {
    background-color: $secondaryDark;
    color: $onSecondaryDark;
}

.bg-dark {
    background: $bgDark;
    color: $onBgDark;
}

.text-primaryH {
    color: $onPrimary;
    @include transition;
    &:hover {
        color: darken($secondary, 30);
    }
}

.text-primaryHDark {
    color: $onPrimaryDark;
    @include transition;
    &:hover {
        color: lighten($color: $onPrimaryDark, $amount: 30);
    }
}