$primary: #a82c2c;
$onPrimary: #27274b;
$secondary: #27274b;
$onSecondary: #f8e9e9;
$bg: lighten(#FFDE00, 20);
$onBg: rgb(255, 0, 0);
$primaryDark: #fa7070;
$onPrimaryDark: #27274b;
$secondaryDark: lighten(#FFDE00, 20);
$onSecondaryDark: rgb(255, 0, 0);
$bgDark: #27274b;
$onBgDark: lighten(#FFDE00, 20);
$large: 1300px;
$big: 992px;
$medium: 768px;
$small: 576px;
$radius: 0.5rem;
@mixin shadow {
    box-shadow: 0 1px 5px #000;
}

@mixin transition {
    transition: all 0.4s ease-out;
}

@font-face {
    font-family: "Pokemon";
    src: url('./fonts/Pokemon\ Solid.ttf');
}

.primary {
    background-color: $primary;
    color: $onPrimary;
}

.secondary {
    background-color: $secondary;
    color: $onSecondary;
}

.bg {
    background: $bg;
    color: $onBg;
    z-index: 1;
}

.primary-dark {
    background-color: $primaryDark;
    color: $onPrimaryDark;
}

.secondary-dark {
    background-color: $secondaryDark;
    color: $onSecondaryDark;
}

.bg-dark {
    background: $bgDark;
    color: $onBgDark;
}