$primary: #FF0000;
$onPrimary: #27274b;
$secondary: #3B4CCA;
$onSecondary: #f8e9e9;
$bg: lighten(#FFDE00, 20);
$onBg: rgb(255, 0, 0);
$large: 1300px;
$big: 992px;
$medium: 768px;
$small: 576px;
$radius: 0.5rem;
@mixin shadow {
    box-shadow: 0 1px 5px #000;
}

@mixin transition {
    transition: all 0.4s ease-out;
}

@font-face {
    font-family: "Pokemon";
    src: url('./fonts/Pokemon\ Solid.ttf');
}